<div class="skill-specs pill-list" data-skill="{{sKey}}">
  {{#each skill.specializations as |spec i|}}
  <div class="spec-pill">
    <input type="text" class="spec-name" name="{{specPath sKey i 'name'}}" value="{{spec.name}}" placeholder="Specialization"/>
    <span class="plus">+</span>
    <input type="number" class="spec-bonus" name="{{specPath sKey i 'bonus'}}" value="{{numberValue spec.bonus}}" data-dtype="Number"/>
  <a class="rollable spec-roll" title="Roll {{label}} ({{spec.name}})" data-skill="{{sKey}}" data-index="{{i}}" data-label="{{label}} ({{spec.name}}) Check" data-skillkey="{{sKey}}"><i class="fas fa-dice-d20"></i></a>
    <a class="pill-remove" data-skill="{{sKey}}" data-index="{{i}}" title="Delete"><i class="fas fa-times"></i></a>
  </div>
  {{/each}}
  <a class="pill-add" data-skill="{{sKey}}"><i class="fas fa-plus-circle"></i> Add</a>
</div>
